nav{
    width: 100%; 
    position: absolute;
    bottom: 0;
}
main{
    height: calc(100vh - 100px);
    display: flex;
}
h1, h2, h3, h4, h5, h6, p{
    font-weight: bold;
}
.my-nav{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.in-riproduzione, .player, .volume{
    display: flex;
    align-items: center;
}
.in-riproduzione, .volume{
    flex-basis: 300px;
}
.in-riproduzione img{
    width: 55px;
    margin: 0 15px;
}
.in-riproduzione h5{
    margin-bottom: 0px;
}
.in-riproduzione h6{
    margin-top: 0;
}
.in-riproduzione i{
    margin: 0 8px;
    font-size: 2rem;
    display: flex;
}
.in-riproduzione div:last-of-type{
    margin: 0 30px;
}
.player{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 250px;
}
.player-top{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.player-top i{
    padding: 15px 20px 1px 20px;
    font-size: 2rem;
}
.player-top .play{
    font-size: 4rem;
}
.player-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.player-bottom h5{
    padding: 0 25px;
}
.player-bottom div, .volume div{
    height: 5px;
    border-radius: 5px;
}
.player-bottom .row-grey{
    flex-grow: 1;
    max-width: 650px;
}
.player-bottom .row-lightgrey{
    flex-grow: 1;
    max-width: 160px;
}
.volume{
    margin-right: 15px;
}
.volume .row-grey{
    width: 150px;
}
.volume .row-lightgrey{
    width: 40px;
}
.volume i{
    margin: 0 15px;
    font-size: 2rem;
}
.menu-col{
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: bold;
}
.menu-col ul{
    /* display: flex;
    flex-direction: column;
    align-content: center; */
}
.home{
    border-left: 4px solid greenyellow;
    padding-left: 31px;
}
.logo{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 35px;

}
.logo-small{
    display: none;
}
.menu-col li img{
    width: 35px;
    /* vertical-align: middle; */
}
.menu-col li{
    margin-top: 10px;
}
.menu-col li h5{
    display: inline-block;
}
.new-playlist{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.box-playlist{
    width: 50px;
    height: 50px;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-playlist h5{
    margin: 0 10px;
}
.playlist h5{
    margin-top: 30px;
}
.playlist{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
.menu-col-bottom{
    margin-bottom: 20px;
}
.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(img/profile.svg);
    background-size: cover;
    display: inline-block;
}
.account{
    display: flex;
}
.account h4{
    padding: 0 10px;
}
.line{
    height: 2px;
    width: 80%;
    margin: 15px 0;
}
.main-content{
    overflow: auto;
    /* height: auto; */
    /* display: flex; */
    /* padding: 10px; */
}
.album-section{
    /* width: 100vw;
    width: 100vh; */
}
.update{
    text-align: right;
    height: 105px;
    /* display: flex;
    justify-content: center; */
}
.my-btn{
    margin: 30px;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 30px;
}
.my-list li{
    display: inline-block;
    margin: 10px 25px;
    
}
.my-list{
    display: flex;
    justify-content: center;
}
.linguetta2{
    height: 2px;
    width: 50px;
    background-color: greenyellow;
}
.recently-played{
    display: flex;
    flex-direction: row;

}
.album{
    display: flex;
    width: calc((100% - 150px) / 6);
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
    margin-left: 20px;
}
.recently-played div:first-of-type{
    margin-left: 0px;
}
.album h4, .album p{
    display: flex;
    justify-content: center;
}
.cover-container{
    background-size: cover;
    width: 280px;
    height: 280px;
    position: relative;
    /* height: 50px; */
}
.cover1{
    background-image: url("img/metal_lifting.jpg");
}
.cover2{
    background-image: url("img/stranger.jpeg");
}
.cover3{
    background-image: url("img/aquietplace.jpeg");
}
.cover4{
    background-image: url("img/split.jpeg");
}
.cover5{
    background-image: url("img/cure.jpeg");
}
.cover6{
    background-image: url("img/sinister.jpeg");
}
.cover7{
    background-image: url("img/radar.jpeg");
}
.cover8{
    background-image: url("img/mixdaily.jpeg");
}
.cover9{
    background-image: url("img/youg.jpeg");
    border-radius: 50%;
}
.cover10{
    background-image: url("img/einaudi.jpeg");
    border-radius: 50%;

}

.play-hov{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: white; 
    display: inline-block;
    transition: .5s ease;
}

.album:hover .cover-container{
    opacity: 0.7;
}
.album:hover .play-hov{
    opacity: 1;
}
li:hover, h5:hover, i:hover{
    color: white;
}
.row-lightgrey:hover{
    background-color: yellowgreen;
}
.play:hover{
    /* font-size: 4rem; */
}
h6:hover{
    text-decoration: underline;
    color: white;
}
button:hover{
    padding: 15px 45px;
}
@media screen and (max-width: 1200px) and (min-width:993px){
    .album{
        width: calc((100% - 150px) / 4);
    }
    /* .player-bottom .row-grey{
        width: 400px;
    }
    .player-bottom .row-lightgrey{
        width: 70px;
    }
    .volume .row-grey{
        width: 100px;
    }
    .volume .row-lightgrey{
        width: 30px;
    } */
}
@media screen and (max-width: 992px) and (min-width:769px){
    /* .player-bottom .row-grey{
        width: 200px;
    }
    .player-bottom .row-lightgrey{
        width: 40px;
    }
    .volume .row-grey{
        width: 80px;
    }
    .volume .row-lightgrey{
        width: 20px;
    } */
}
@media screen and (max-width: 768px){
    .alb-2 .album{
        width: 50%;
        display: flex;
        flex-direction: row;
    }
    .player-top i{
        padding: 10px 15px 1px 15px;
        font-size: 2rem;
    }
    .volume i{
        margin: 0 5px;
        font-size: 2rem;
    }
    .in-riproduzione img{
        width: 35px;
    }
    .logo-big{
        display: none;
    }
    .disp-none-xs{
        display: none;
    }
    .disp-none-xs h5{
        display: none;
    }
    .menu-col li h5{
        display: none;
    }
    .menu-col{
        width: 50px;
    }
    .menu-col li{
        padding-left: 0px;
    }
    .logo{
        padding-left: 0px;
        width: 50px;
    }
    .logo-small{
        display: block;
        margin: auto;
        width: 40px;
    }
    .home{
        border: 0px;
    }
    .menu-col ul{
        width: 100%;
    }
    .menu-col ul li img{
        margin: auto;
    }
    .album-section ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(100% / 4);
    }
    .logo{
        /* width: 30px; */
        /* margin-top: 30px; */
    }

}






/* Utility Classes */
.bg-grey{
    background-color: #282828;
}
.bg-white{
    background-color: white;
}
.bg-lightgrey1{
    background-color: #C1C1C1;
}
.bg-lightgrey{
    background-color: #5A5A5A;
}
.bg-black{
    background-color: #000000;
}
.bg-blue{
    background-color: #141922;
    background-size: cover;
}
.bg-darkblue{
    background-color: #191f33;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.text-grey{
    color: #282828;
}
.text-grey2{
    color: #7B7B7B;
}
.text-lightgrey{
    color: #C1C1C1;
}
.pd-30{
    padding: 0 30px;
}
.pd-left-35{
    padding-left: 35px;
}
