nav{
    width: 100%; 
    position: absolute;
    bottom: 0;
}
main{
    height: calc(100vh - 100px);
    display: flex;
}
h1, h2, h3, h4, h5, h6, p{
    font-weight: bold;
}
.my-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* da togliere height fissa */
    height: 100px;
}
.in-riproduzione, .player, .volume{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
}
.in-riproduzione img{
    width: 50px;
}
.in-riproduzione h5{
    margin-bottom: 5px;
}
.in-riproduzione h6{
    margin-top: 0;
}
.player{
    flex-direction: column;
}
.player-top i{
    padding: 15px 25px 0 25px;
    font-size: 2rem;
}
.player-top .play{
    font-size: 3rem;
}
.player-bottom{
    display: flex;
    align-items: center;
    /* padding-bottom: 15px; */
}
.player-bottom h5{
    padding: 0 25px;
}
.player-bottom div, .volume div{
    height: 6px;
    border-radius: 5px;
}
.player-bottom .row-grey{
    width: 500px;
}
.player-bottom .row-lightgrey{
    width: 200px;
}
.volume .row-grey{
    width: 70px;
}
.volume .row-lightgrey{
    width: 30px;
}
.volume i{
    padding: 0 10px;
}
.menu-col{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding-left: 25px;
    font-weight: bold;
}
.logo{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.menu-col li img{
    width: 35px;
    /* vertical-align: middle; */
}
.menu-col li{
    margin-top: 10px;
}
.new-playlist{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.box-playlist{
    width: 50px;
    height: 50px;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playlist h5{
    margin-top: 30px;
}
.playlist{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
.menu-col-bottom{
    margin-bottom: 20px;
}
.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(img/profile.svg);
    background-size: cover;
    display: inline-block;
}
.account{
    display: flex;
}
.line{
    height: 2px;
    width: 80%;
    margin: 15px 0;
}
.main-content{
    width: 100%;
    overflow: auto;
    /* display: flex; */
    /* padding: 10px; */
}
.update{
    text-align: right;
    /* display: flex;
    justify-content: center; */
}
.my-btn{
    margin: 30px;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 30px;
}
.my-list li{
    display: inline-block;
    margin: 10px 25px;
    
}
.my-list{
    display: flex;
    justify-content: center;
}
.recently-played{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.album{
    display: flex;
    width: calc((100% - 200px) / 6);
    flex-direction: column;
}
.album h4, .album p{
    display: flex;
    justify-content: center;
}
.popolari div{
    border-radius: 50%;
    /* overflow: ; */
}







/* Utility Classes */
.bg-grey{
    background-color: #282828;
}
.bg-white{
    background-color: white;
}
.bg-lightgrey1{
    background-color: #C1C1C1;
}
.bg-lightgrey{
    background-color: #5A5A5A;
}
.bg-black{
    background-color: #000000;
}
.bg-blue{
    background-color: #141922;
}
.bg-darkblue{
    background-color: #191f33;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.text-grey{
    color: #282828;
}
.text-grey2{
    color: #A3A3A3;
}
.pd-30{
    padding: 0 30px;
}
